<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=yes">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")*@
    @Scripts.Render("~/bundles/modernizr")

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/MDB/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/MDB/css/mdb.min.css" rel="stylesheet">
    <link href="~/MDB/css/style.css" rel="stylesheet">

</head>
<body>

    <!--Navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark indigo">

        <!-- Navbar brand -->
        @{ 
            var homeUrl = ViewBag.SiteRoot + "/";
        }
        <a class="navbar-brand" href="@homeUrl">NCCRD Data Service</a>

        <!-- Collapse button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Collapsible content -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Links -->
            <ul class="navbar-nav mr-auto">
                @{
                    var swaggerUrl = (ViewBag.SiteRoot + "/swagger/ui/index"); 
                }
                <li class="nav-item"><a class="nav-link" href="@swaggerUrl">Swagger API Docs</a></li>
            </ul>

            @*<ul class="navbar-nav navbar-right">
                @if (Session["UserId"] != null && Session["UserId"].ToString() != "")
                {
                    var userId = "Hello, " + Session["UserId"].ToString();
                    <li class="nav-item"><a class="nav-link" href="/Login/Logout">@userId</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Login/Logout">Logout</a></li>
                }
                else
                {
                    <li class="nav-item"><a class="nav-link" href="/Login/Login">Login</a></li>
                    <li class="nav-item"><a class="nav-link" href="/Login/Register">Register</a></li>
                }
            </ul>*@
        </div>
        <!-- Collapsible content -->
    </nav>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - NCCRD Data Service</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/MDB")
    @RenderSection("scripts", required: false)
</body>
</html>
