@model NCCRD.Services.Data.Models.ProjectsViewModel
@{
    ViewBag.Title = "Projects";
}

<script type="text/javascript">

    function filterProjects(s) {

        //Filter to bottom level Region filter
        var regionId = 0;
        if ($('#Municipality').val() != null && $('#Municipality :selected').text() != "[Unfiltered]") {
            regionId = $('#Municipality').val();
        }
        else if ($('#Metro').val() != null && $('#Metro :selected').text() != "[Unfiltered]") {
            regionId = $('#Metro').val();
        }
        else if ($('#Province').val() != null && $('#Province :selected').text() != "[Unfiltered]") {
            regionId = $('#Province').val();
        }

        $("#dvProjectList").load('@(Url.Action("List","Projects",null, Request.Url.Scheme))?partTitle=' + encodeURIComponent(s) + '&regionId=' + regionId);
    }

    function provinceSelect() {
        var provinceId = $('#Province').val();
        var metroId = $('#Metro').val();

        $.ajax({
            url: '/Projects/UpdateRegionList',
            type: "GET",
            dataType: "JSON",
            data: { regionId: provinceId },
            success: function (metros) {
                $("#Metro").html(""); // clear before appending new list
                $.each(metros, function (i, metro) {
                    $("#Metro").append(
                        $('<option></option>').val(metro.RegionId).html(metro.RegionName));
                });
            },
            complete: function () {
                setDDValue('#Metro', metroId);
                metroSelect();
            }
        });    
    }

    function metroSelect() {
        var metroId = $('#Metro').val();
        var municipalityId = $('#Municipality').val();

        $.ajax({
            url: '/Projects/UpdateRegionList',
            type: "GET",
            dataType: "JSON",
            data: { regionId: metroId },
            success: function (regions) {
                $("#Municipality").html(""); // clear before appending new list
                $.each(regions, function (i, region) {
                    $("#Municipality").append(
                        $('<option></option>').val(region.RegionId).html(region.RegionName));
                });
            },
            complete: function () {
                setDDValue('#Municipality', municipalityId);
                municipalitySelect();
            }
        });    
    }

    function setDDValue(r, i) {
        if ($(r + ' option[value=' + i + ']').length != 0) {
            $(r).val(i);
        }
    }

    function municipalitySelect() {
        filterProjects();
    }

</script>

<div class="row">
    <div class="col-md-10">
        <h2>Projects</h2>
    </div>
    <div class="col-md-2 right">
        <button class="btn btn-primary" style="height:45px;width:150px;margin-top:20px;float:right">Add Project</button>
    </div>
</div>

@if (ViewBag.Message != null)
{
    <label class="label-warning">@ViewBag.Message</label>
}

<hr />
<h3>Filters</h3>
<br />

<div class="row">
    <div class="col-md-3">
        <label>Title:</label>
        <input class="form-control" type="text" onkeyup="filterProjects(this.value);">
    </div>
    <div class="col-md-3">
        <label>Province:</label>
        @{var typeId = Model.LocationTypes.FirstOrDefault(x => x.Value == "Province").LocationTypeId;}
        @Html.DropDownListFor(
                 m => m.Regions,
                 new SelectList(Model.Regions.Where(x => x.LocationTypeId == typeId || x.LocationTypeId == 0), "RegionId", "RegionName"),
                 new { @id = "Province", @class = "form-control", @onchange = "provinceSelect()" })
    </div>
    <div class="col-md-3">
        <label>Metro:</label>
        @{typeId = Model.LocationTypes.FirstOrDefault(x => x.Value == "DistrictMunicipality").LocationTypeId;}
        @Html.DropDownListFor(
                 m => m.Regions,
                 new SelectList(Model.Regions.Where(x => x.LocationTypeId == typeId || x.LocationTypeId == 0), "RegionId", "RegionName"),
                 new { @id = "Metro", @class = "form-control", @onchange = "metroSelect()" })
    </div>
    <div class="col-md-3">
        <label>Municipality:</label>
        @{typeId = Model.LocationTypes.FirstOrDefault(x => x.Value == "LocalMunicipality").LocationTypeId;}
        @Html.DropDownListFor(
                 m => m.Regions,
                 new SelectList(Model.Regions.Where(x => x.LocationTypeId == typeId || x.LocationTypeId == 0), "RegionId", "RegionName"),
                 new { @id = "Municipality", @class = "form-control", @onchange = "municipalitySelect()" })
    </div>
</div>

<hr />

<div class="row">
    <div class="col-md-12" id="dvProjectList">
        @{Html.RenderPartial("List", Model);}
    </div>
</div>

