@model NCCRD.Services.Data.Models.LoginBindingModel
@{
    ViewBag.Title = "Login";
}

<br />
<h2>Login</h2>

@using (Html.BeginForm("Login", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="md-form">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.LabelFor(m => m.Email)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="md-form">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.LabelFor(m => m.Password)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-2 col-md-10">
                <div class="checkbox">
                    @Html.CheckBoxFor(m => m.RememberMe)
                    @Html.LabelFor(m => m.RememberMe)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Log in" class="btn btn-default" />
            </div>
        </div>

    </form>

    <br />

    @Html.ValidationSummary("", new { @class = "text-danger col-md-offset-2 col-md-10" })

    <div class="col-md-offset-2 col-md-10">
        @if (ViewBag.Message != null)
        {
            string vbMsg = ViewBag.Message;
            var messages = vbMsg.Split('|');

            <ul style="color:firebrick">
                @foreach (string msg in messages)
                {
                    <li>@msg</li>
                }
            </ul>
        }
    </div>
}

<br />

<div>
    Don't have an account? Create one <a href="/Login/Register">here</a>
</div>