@model NCCRD.Services.Data.Models.RegisterBindingModel
@{
    ViewBag.Title = "Register";
}

<br>
<h2>Register</h2>
<br />

@using (Html.BeginForm("Register", "Login", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <form>
        <div class="row">
            <div class="col-md-9">
                <h4>Account details</h4>
            </div>
            <div class="col-md-3 right">
                <div class="row">
                    <h6 style="color:red">Required fields indicated with</h6>
                    <i class="fa fa-asterisk" style="margin-top:2px;margin-left:10px;color:red"></i>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="md-form">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    @Html.LabelFor(m => m.Email, new { @class = "required" })
                </div>
            </div>
            <div class="col-md-1">
                <i class="fa fa-asterisk" style="margin-top:20px;color:red"></i>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="md-form">
                    @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    @Html.LabelFor(m => m.Password)
                </div>
            </div>
            <div class="col-md-1">
                <i class="fa fa-asterisk" style="margin-top:20px;color:red"></i>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="md-form">
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    @Html.LabelFor(m => m.ConfirmPassword)
                </div>
            </div>
            <div class="col-md-1">
                <i class="fa fa-asterisk" style="margin-top:20px;color:red"></i>
            </div>
        </div>

        <br />
        <h4>Profile data</h4>

        <div class="row">
            <div class="col-md-5">
                <div class="md-form">
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control" })
                    @Html.LabelFor(m => m.FirstName)
                </div>
            </div>
            <div class="col-md-1">
                <i class="fa fa-asterisk" style="margin-top:20px;color:red"></i>
            </div>

            <div class="col-md-5">
                <div class="md-form">
                    @Html.TextBoxFor(m => m.Surname, new { @class = "form-control" })
                    @Html.LabelFor(m => m.Surname)
                </div>
            </div>
            <div class="col-md-1">
                <i class="fa fa-asterisk" style="margin-top:20px;color:red"></i>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="md-form">
                    @Html.TextBoxFor(m => m.Organisation, new { @class = "form-control" })
                    @Html.LabelFor(m => m.Organisation)
                </div>
            </div>
            <div class="col-md-1">
                <i class="fa fa-asterisk" style="margin-top:20px;color:red"></i>
            </div>

            <div class="col-md-5">
                <div class="md-form">
                    @Html.TextBoxFor(m => m.JobTitle, new { @class = "form-control" })
                    @Html.LabelFor(m => m.JobTitle)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="md-form">
                    @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                    @Html.LabelFor(m => m.Title)
                </div>
            </div>
            <div class="col-md-1">
                <i class="fa fa-asterisk" style="margin-top:20px;color:red"></i>
            </div>

        </div>

        <br />
        <h4>Address details</h4>
        <div class="row">
            <h5 class="col-md-5">Physical address</h5>
            <div class="col-md-1"></div>
            <h5 class="col-md-5">Postal address</h5>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="md-form">
                    @Html.TextBoxFor(m => m.PhysicalAddressLine1, new { @class = "form-control" })
                    @Html.LabelFor(m => m.PhysicalAddressLine1)
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="md-form">
                    @Html.TextBoxFor(m => m.PostalAddressLine1, new { @class = "form-control" })
                    @Html.LabelFor(m => m.PostalAddressLine1)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="md-form">
                    @Html.TextBoxFor(m => m.PhysicalAddressLine2, new { @class = "form-control" })
                    @Html.LabelFor(m => m.PhysicalAddressLine2)
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="md-form">
                    @Html.TextBoxFor(m => m.PostalAddressLine2, new { @class = "form-control" })
                    @Html.LabelFor(m => m.PostalAddressLine2)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="md-form">
                    @Html.TextBoxFor(m => m.PhysicalAddressLine3, new { @class = "form-control" })
                    @Html.LabelFor(m => m.PhysicalAddressLine3)
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="md-form">
                    @Html.TextBoxFor(m => m.PostalAddressLine3, new { @class = "form-control" })
                    @Html.LabelFor(m => m.PostalAddressLine3)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="md-form">
                    @Html.TextBoxFor(m => m.PhysicalAddressTown, new { @class = "form-control" })
                    @Html.LabelFor(m => m.PhysicalAddressTown)
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="md-form">
                    @Html.TextBoxFor(m => m.PostalAddressTown, new { @class = "form-control" })
                    @Html.LabelFor(m => m.PostalAddressTown)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="md-form">
                    @Html.TextBoxFor(m => m.PhysicalAddressPostalCode, new { @class = "form-control" })
                    @Html.LabelFor(m => m.PhysicalAddressPostalCode)
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="md-form">
                    @Html.TextBoxFor(m => m.PostalAddressPostalCode, new { @class = "form-control" })
                    @Html.LabelFor(m => m.PostalAddressPostalCode)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="md-form">
                    @Html.TextBoxFor(m => m.PhysicalAddressProvince, new { @class = "form-control" })
                    @Html.LabelFor(m => m.PhysicalAddressProvince)
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="md-form">
                    @Html.TextBoxFor(m => m.PostalAddressProvince, new { @class = "form-control" })
                    @Html.LabelFor(m => m.PostalAddressProvince)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="md-form">
                    @Html.TextBoxFor(m => m.PhysicalAddressCountry, new { @class = "form-control" })
                    @Html.LabelFor(m => m.PhysicalAddressCountry)
                </div>
            </div>
            <div class="col-md-1"></div>
            <div class="col-md-5">
                <div class="md-form">
                    @Html.TextBoxFor(m => m.PostalAddressCountry, new { @class = "form-control" })
                    @Html.LabelFor(m => m.PostalAddressCountry)
                </div>
            </div>
        </div>

        <br />
        <h4>Contact details</h4>

        <div class="row">
            <div class="col-md-5">
                <div class="md-form">
                    @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control" })
                    @Html.LabelFor(m => m.PhoneNumber)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="md-form">
                    @Html.TextBoxFor(m => m.MobileNumber, new { @class = "form-control" })
                    @Html.LabelFor(m => m.MobileNumber)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-5">
                <div class="md-form">
                    @Html.TextBoxFor(m => m.FaxNumber, new { @class = "form-control" })
                    @Html.LabelFor(m => m.FaxNumber)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-2">
                <input type="submit" class="btn btn-deep-orange" value="Register" />
            </div>
        </div>
    </form>

    <br />

    @Html.ValidationSummary("", new { @class = "text-danger col-md-offset-2 col-md-10" })

    <div class="col-md-offset-2 col-md-10">
        @if (ViewBag.Message != null)
        {
            string vbMsg = ViewBag.Message;
            var messages = vbMsg.Split('|');

            <ul style="color:firebrick">
                @foreach (string msg in messages)
                {
                    <li>@msg</li>
                }
            </ul>
        }
    </div>
}

